# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Various
**.war
*.rbc
*.sassc
.rspec
.redcar/
.sass-cache
/config/database.yml
/public/cache
/public/stylesheets/compiled
/public/system/*
/spec/tmp/*
/cache

# Eclipse project
.project

# RubyMine project files
.idea

# Textmate project files
/*.tmproj
